<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title> Dashboard </title>
  <link rel="stylesheet" th:href="@{/css/dashboard_style.css}"/>
</head>

<body >

  <div th:replace="fragments :: header"></div>

  <h1 class = dash> My Dashboard </h1>
  <h1 id="acc_role"> Account Role: <span id="roleString" th:text="${user.role} ">  </span>
  </h1>


  <div class = box1 >
    <h1 id="welcome" th:text= "'Welcome to your dashboard, ' + ${user.firstName} + ' ' +  ${user.lastName} + '!' " > </h1>

    <br>
    <ul class="no-bullets">
      <!--      - TO DO myProfile controller method -->
      <li class=links >
        <a th:href="@{/properties/add}" style="color: #0056b3; text-decoration: none">My profile</a>

      </li>
      <li class=links th:if="${#authorization.expression('hasRole(''AGENT'')')}">
        <a th:href="@{/properties/manage}" style="color: #0056b3; text-decoration: none">Manage Properties</a>
      </li>
      <li class=links th:if="${#authorization.expression('hasRole(''AGENT'')')}">
        <a th:href="@{/properties/add}" style="color: #0056b3; text-decoration: none">Add Properties</a>
      </li>
      <li class=links th:if="${#authorization.expression('hasAnyRole(''AGENT'', ''BUYER'')')}">
        <a th:href="@{/properties/add}" style="color: #0056b3; text-decoration: none">Messages</a>
      </li>

    </ul>
    <br>
    <br>

    <form method="get" th:action="@{/login}">
      <button id="logout_button" type="submit">Log out</button>
    </form>

    <br>
  </div>

  <div class="footer" th:replace="fragments :: footer"></div>
</body>




</html>
