<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title> Log in Page </title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>
<div class="login-container">
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>
    <div th:if="${errorMessage}" class="failure">
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${error}" class="failure">
        <p th:text="${error}"></p>
    </div>
    <h1>Login</h1>
    <form method="post" th:action="@{/login}" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" th:field="*{email}" type="text"/>
        <label for="password">Password</label>
        <input id="password" th:field="*{password}" type="password"/>

        <button type="submit">Log In</button>
    </form>
</div>
</body>

</html>
