body {
    padding-top: 10%;
    padding-bottom: 100px;
    font-family: Arial, sans-serif;
    margin: auto;
    width: 100%;
    align-content: center;
    text-align: center;
    background-image: url('../images/house-bg.png');

}

.dash {
    margin-left: 5%;
    text-align: left;
    font-size: 45px;
}

#roleString{
    text-align: left;
    font-size: 20px;
    color: rgb(62, 152, 5);
}

#acc_role {
    padding-top: 35px;
    padding-left: 10%;
    font-size: 5px;
    text-align: left;
}

.header {
    height: 100px;
    padding-right: 10px;
    text-align: right;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    position: absolute;
    top: 0;
    border: solid 1px;
    color: rgba(85, 85, 85, 0.44);
}

.footer{
    height: 70px;
    text-align: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    position: fixed;
    bottom: 0;
    margin-left: 5px;
}
.box1 {

    margin: 0 auto;
    width: 750px;
    text-align: center;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

#dash_button {
    margin-right: 5%;
    position: absolute;
    right: 50px;
    top: 30px;
}

.blue_button {
    background-color: rgb(43, 109, 179);
    height: 40px;
    width: 120px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    border: 0;
}

.blue_button:hover {
    background-color: rgb(30, 76, 124);
}

.green_button {
    background-color: rgb(34, 129, 29);
    height: 40px;
    width: 120px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    border: 0;
}

.green_button:hover {
    background-color: rgb(22, 85, 19);
}

.red_button {
    background-color: rgb(197, 15, 15);
    height: 40px;
    width: 90px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    border: 0;
}

.red_button:hover {
    background-color: rgb(161, 15, 15);
}

.divider_line {
    width: 80%;
    height: .01em;
    border: solid .01em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.53);
}

.no-bullets {
    padding-left: 10%;
    text-align: left;
    list-style-type: none;
    width: 300px;
    font-size: 21px;
    font-family: Arial, sans-serif;
    margin-top: 25px;
}

#my_profile, #manage_props, #add_props, #message, #messageBuyer, #favs, #browseProp {
    text-decoration: none;

}

#my_profile:hover, #my_profile:hover,
#manage_props:hover, #add_props:hover,
#message:hover, #messageBuyer:hover, #favs:hover, #browseProp:hover {
    text-decoration: underline;
}

#logo {
    height: 120px;
    width: 120px;
    position: absolute;
    left: 30px;
    top: 1px;
}

#welcome {
    font-size: 35px;
    padding: 20px 20px 10px;

}

#acc_role {
    font-size: 25px;
    margin-top: -35px;
}

th, td {
    border: 1px solid black;
    margin:auto;
    width: 500px;
    text-align: left;
    vertical-align: top;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    padding: 5px;
}

th {
    font-size: 1.4rem;
}

#manage_box {
    margin: 0 auto;
    width: 50%;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.33);
}

.manage_table {
    border-collapse: collapse;
}

.footer{
    height: 70px;
    text-align: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    position: fixed;
    bottom: 0;
    margin-left: 5px;
}


.top_row {
    background-color: rgba(136, 130, 130, 0.32);
    height: 50px;
    text-align: center;
}

#pics {
    text-align: center;
}

.inp_field {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 25px;
    text-align: start;
    width: 95%;
    font-size: 20px;
    font-family: Arial, sans-serif;

}
#addProp {
    width: 100%;
    margin: auto;
}

.inp_box {
    width: 95%;
    height:28px;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.box2 {
    margin: 0 auto;
    width: 25%;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
    padding: 15px 15px 20px 15px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    padding: 0.75rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.failure {
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.75rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

#prop_button {
    width: 95%;
}

.box2 {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
    padding: 15px 15px 20px 15px;
    overflow:hidden
}

.box3 {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.29);
    padding: 15px 15px 20px 15px;
    overflow:hidden
}
.profile_txt {
    text-align: left;
    padding: 30px;
}

#profile-em, #profile_fn, #profile_ln, #profile_rl {
    font-weight: normal;
}

.my_prof_buttons {
    width: 480px;
    display: flex;
    padding: 20px;
    gap: 70px;
    justify-content: center;
}

#back_to_dash {
    width: 200px;
}

.edit_buttons {
    width: 150px;
    display: flex;
    padding: 40px 20px 20px;
    gap: 90px;
    justify-content: center;
}

#save_changes {
    width: 170px;
    margin-left: 40px;
}

#Cancel {
    position: relative;
    right: 170px;
    bottom: 60px;
    left: 100px;

}

#del_prop, #edit_prop {
    text-align: center;
    width: 120px;
}

#edit_box {
    width: 25%;
}

#manage_del_prop {
    width: 30px;
    border-radius: 60%;
    height: 30px;
    bottom: 50px;
    vertical-align: top;
}
.edit_images {
    padding-top: 10px;
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    padding-left: 20px;

}

#msg_buttons {
    padding-left: 5px;
    text-align: center;
}

#message_deits {
    padding-bottom: 15px;
    margin-bottom: 10px;

}

.space {
    padding-bottom: 15px;
    gap: 20px;
}






