body {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Arial, sans-serif;
    background-color: rgba(41, 41, 41, 0.09);
    margin: auto;
    width: 100%;
    align-content: center;
    text-align: center;
    background-image:  url('../images/house-bg.png');
}

.dash {
    margin-left: 5%;
    text-align: left;
    font-size: 45px;
}

#roleString{
    text-align: left;
    font-size: 25px;
    color: rgba(255, 0, 0, 0.75);
}

#acc_role {
    margin-left: 5%;
    font-size: 18px;
    text-align: left;
}

.header {
    height: 100px;
    padding-right: 10px;
    text-align: right;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    position: absolute;
    top: 0;
}

.box1 {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    border: 3px solid rgba(0, 74, 161, 0.66);

}

#dash_button {
    margin-right: 5%;
    position: absolute;
    right: 50px;
    top: 20px;
    background-color: rgb(43, 109, 179);
    height: 40px;
    width: 120px;
    font-size: 18px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    border: 0;

}

#logout_button {
    background-color: rgb(197, 15, 15);
    height: 40px;
    width: 90px;
    font-size: 18px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    border: 0;
}

.no-bullets {
    list-style-type: none;
    padding-left: 0;
    margin: auto;
    width: 300px;

    font-size: 25px;
    font-family: Arial, sans-serif;
}

.links{
    text-decoration: none;
}

#logo {
    height: 120px;
    width: 120px;
    position: absolute;
    left: 30px;
    top: 1px;
}

#welcome {
    font-size: 35px;
}

#acc_role {
    font-size: 25px;
}

th, td {
    border: 1px solid black;
    margin:auto;
    width: 500px;
    text-align: left;
    vertical-align: top;
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
    padding: 5px;
}

th {
    font-size: 1.6rem;
}

#manage_box {
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    border: 3px solid rgba(41, 41, 41, 0.15);

}

.manage_table {
    border-collapse: collapse;
}


.footer{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    height: 70px;
    position: absolute;
    text-align: left;
    bottom: 0;
}

.top_row {
    background-color: rgba(16, 103, 200, 0.68);
    height: 50px;
    text-align: center;
}

#pics {
    text-align: center;
}

.inp_field {
    padding: 10px;
    text-align: start;
    width: 100%;
    font-size: 30px;
    font-family: bold, sans-serif;

}
#addProp {
    width: 100%;
    margin: auto;

}




