body {
    padding-top: 100px;
    font-family: Arial, sans-serif;
    background-color: rgba(41, 41, 41, 0.09);
    margin: auto;
    width: 100%;
    align-content: center;
    text-align: center;
    background-image:  url('../images/house-bg.png');
}

.dash {
    margin-left: 5%;
    text-align: left;
    font-size: 45px;
}

#roleString{
    text-align: left;
    font-size: 25px;
    color: rgba(128,128,128, .75);
}

.profile_text {
    margin-left: 5%;
    font-size:25px;
    text-align: left;
}

.header {
    height: 100px;
    padding-right: 10px;
    text-align: right;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    position: fixed;
    top: 0;
}

.footer{
    height: 70px;
    text-align: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    position: fixed;
    bottom: 0;
    margin-left: 5px;
}
.box1 {
    margin: 20px auto;
    width: 40%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    border: 3px solid rgba(0, 74, 161, 0.66);
    position: relative;
}

#dash_button {
    width: 10%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: fixed;
    right: 200px;
    top: 30px;
}

#dash_button:hover {
    background-color: #0056b3;
}


#logout_button {
    background-color: rgb(197, 15, 15);
    height: 40px;
    width: 90px;
    font-size: 18px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    border: 0;
}

.right_button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    float: right;
    right: 60px;
    bottom: 40px;
}

.left_button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    float: left;
    left: 50px;
    bottom: 40px;
}

.right_button:hover {
    background-color: #0056b3;
}

.no-bullets {
    list-style-type: none;
    padding-left: 20px;
    margin: auto;
    width: 300px;

    font-size: 20px;
    font-family: Arial, sans-serif;

    text-align: left;
    float: left;
}

.links{
    text-decoration: none;
}

#logo {
    height: 120px;
    width: 120px;
    position: absolute;
    left: 30px;
    top: 1px;
}

#welcome {
    font-size: 35px;
}

#acc_role {
    color: rgba(128,128,128, .75);
    font-size: 25px;
}

th, td {
    border: 1px solid black;
    margin:auto;
    width: 300px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
    padding-top: 10px;
}
.manage_table {
    width: 1300px;
    border: 1px solid black;
    margin: auto;
}

#manage_box {
    margin: 0 auto;
    width: 65%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    border: 3px solid rgba(41, 41, 41, 0.15);
}






