body {
    padding-top: 100px;
    font-family: Arial, sans-serif;
    background-color: rgba(41, 41, 41, 0.09);
    margin: auto;
    width: 100%;
    align-content: center;
    text-align: center;
    background-image:  url('../images/house-bg.png');
}

.dash {
    margin-left: 5%;
    text-align: left;
    font-size: 45px;
}


.title {
    color: rgba(10, 158, 0241, 1);
    font-size: 25px;
    text-align: left;
    position: relative;
    left: 50px;
}

.property_text {
    font-size: 20px;
    text-align: left;
    position: relative;
    left: 50px;
}

.filter {
    font-size: 20px;
    text-align: left;
    position: relative;
}

.description {
    color: rgba(30, 30, 30, 1);
    font-size: 20px;
    text-align: left;
    position: relative;
    left: 50px;
    padding-right: 5%;
}

.header {
    height: 100px;
    padding-right: 10px;
    text-align: right;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    position: fixed;
    top: 0;
}

.footer{
    height: 70px;
    text-align: left;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.76);
    position: fixed;
    bottom: 0;
    margin-left: 5px;
}


.box1 {
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
}

#dash_button {
    width: 10%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 200px;
    top: 30px;
}

#dash_button:hover {
    background-color: #0056b3;
}


#logout_button {
    background-color: rgb(197, 15, 15);
    height: 40px;
    width: 90px;
    font-size: 18px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    border: 0;
}

.red_button {
    padding: 10px;
    background-color: rgb(197, 15, 15);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    float: left;
    left: 100px;
    bottom: 10px;
}

.remove_fav {
    padding: 10px;
    background-color: rgb(197, 15, 15);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 50px;
}

.top_right_button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    right: 50px;
}

.button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    float: left;
    left: 50px;
    bottom: 10px;
}

.search {
    margin: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    float: left;
}

.clear {
    margin: 20px;
    padding: 10px;
    background-color: #808080;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    float: left;
}


.no-bullets {
    list-style-type: none;
    padding-left: 0;
    margin: auto;
    width: 250px;

    font-size: 25px;
    font-family: Arial, sans-serif;
    float: left;
}

.dashboard_link {
    list-style-type: none;
    padding-left: 0;
    margin: auto;
    width: 250px;

    font-size: 25px;
    font-family: Arial, sans-serif;
}

.filter_list{
    list-style-type: none;
    padding-left:9%;
    margin: auto;
    width: 250px;

    font-size: 25px;
    font-family: Arial, sans-serif;
    float: left;
}

.text_field{
    width: 200px;
}

.links{
    text-decoration: none;
}

#logo {
    height: 120px;
    width: 120px;
    position: absolute;
    left: 30px;
    top: 1px;
}

.image {
    height: 225px;
    width: 275px;
    position: relative;
    float: left;
    top: 10px;
}

.images {
    height: 650px;
    width: 800px;
    float: center;
    position: relative;
}

#welcome {
    font-size: 35px;
}

#acc_role {
    font-size: 25px;
}

th, td {
    border: 1px solid black;
    margin:auto;
    width: 300px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2rem;
    padding-top: 10px;
}
.manage_table {
    width: 1300px;
    border: 1px solid black;
    margin: auto;
}

#manage_box {
    margin: 0 auto;
    width: 65%;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    border: 3px solid rgba(41, 41, 41, 0.15);
}

.links{
    text-decoration: none;
}

.blue_button {
    background-color: rgb(43, 109, 179);
    height: 40px;
    width: 120px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    border: 0;
}

.blue_button:hover {
    background-color: rgb(30, 76, 124);
}

#message_form {
    text-align: left;
    padding-left: 40px;
    width: 1450px;
    gap: 10px;
    margin-bottom: 40px
}

#message_button {
    margin-top: 20px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    padding: 0.75rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}